
   
<link rel="stylesheet"  type= "text/css" href="style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<footer class="footer">
    <p>© Mr.Coffee's</p>
 </footer>