<footer class="<%= footerclass %>">
    <div class="footercolour">
        <img class="bottom-logo" src="./assets/logo_blanc.png" alt="bottomlogo" />
        <div class="logowithsentence">
            <div class="footer-sentence">Suivez nous sus les reseaux sociaux !</div>

            <div class="socialmedialogo">
                <img src="./assets/logo_linkedin.png" alt="linkedinlogo" />
                <img src="./assets/logo_twitter.png" alt="twitterlogo" />
                <img src="./assets/logo_facebook.png" alt="fblogo" />
            </div>
        </div>
    </div>
</footer>