<link rel="stylesheet"  type= "text/css" href="style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
<header>
   <div class="header">
           <img class="Header_logo" src="../Assets/full_logo_white.png" href="">
           <ul class="navigation">
       <a href="/">Home</a>
       <a href="/users">Users</a>
       <a href="/posts">Posts</a>
       <a href="/signup">Sign Up</a>
       <a href="/login">Log In</a>
       
      </ul>
    
   
   </div>
 </header>

       