<header>
    <nav>
        <ul class="navbar">
            <li class="navitem">
                <img class="header-image" src="./assets/full_logo_white.png" alt="Logo" />
            </li>
            <% if(!req.session.userId) { %>
                <li class="navitem"><a href="/login">Login</a></li>
                <li class="navitem"><a href="/signup">Signup</a></li>
                <% } %>
                    <li class="navitem"><a href="/">Home</a></li>
                    <li class="navitem"><a href="/users">Users</a></li>
                    <% if(req.session.userId) { %>
                        <li class="navitem"><a href="/logout">Logout</a></li>
                        <% } %>
        </ul>
    </nav>
</header>