<%- include('../partials/head.ejs') %>

    <body>
        <div class="center">
            <div class="error-box">
                <h1>Error!!</h1>
                <p>
                    <%= error %>
                </p>
            </div>
        </div>
    </body>

    </html>