
   
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  type= "text/css" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title><%= title %></title>
  </head>

  <%- include('../partials/header.ejs') %>

  <body>
    <main>

      <div class="part1"><h1><%= title %> </h1>
<h2>All customers of our beautiful cafe</h2>
<img class="main_logo" src='../Assets/logo_mrcoffee.png' > 
    </main>

    <%- include('../partials/footer') %>

  </body>
</html>